@inherits HtmlTemplate<HttpModel>

@using WebApiClient.Tools.Swagger

<HttpModel>
    <usings>
        <div>using System;</div>
        <div>using System.Collections.Generic;</div>
        <div>using System.Runtime.Serialization;</div>
        <div>using System.Collections.ObjectModel;</div>
        <div>using System.ComponentModel.DataAnnotations;</div>

        @if (Model.UseSystemTextJson)
        {
            <div>using System.Text.Json.Serialization;</div>
        }
        else
        {
            <div>using Newtonsoft.Json;</div>
        }
    </usings>

    <namespace>
        <div>namespace @(Model.NameSpace)</div>
        <div>{</div>
        <class>
            @foreach (var line in Model.Lines)
            {
                <div>@line</div>
            }
        </class>
        <div>}</div>
    </namespace>
</HttpModel>